@model Car

<div class="card card-outline-primary m-1 p-1">
    <div class="bg-gradient p-1">
        <h4>
            @Model.Name
            <span class="badge nav-pills bg-dark" style="float:right">
                <small>@Model.Price.ToString("c", new System.Globalization.CultureInfo("de-DE"))</small>
            </span>
        </h4>
    </div>
    <div class="card-text p1">@Model.Description</div>
</div>