<div class="col mx-auto">
            <div class="payment_header">
                <div class="payment_header">
                    <div class="form-check"><i class="fas fa-check-circle fa-10x" style="color:forestgreen" aria-hidden="true"></i></div>
                </div>
                <div class="tab-content">
                    <h1>Order had been Successfully Completed!</h1>
                    <p>Thanks for placing your order!</p>
                    <p>We will ship your items as soon as possible.</p>
                    <a class="btn btn-primary" href="#">Home Page.</a>
                </div>
            </div>
</div>