@model CarListViewModel

@foreach (var car in Model.Cars)
{
    @Html.Partial("CarSummary", car);
}

<div page-model="@Model.Paging" page-action="List" page-classes-enabled="true"
     page-class="btn" page-class-default="page-link btn-secondary"
     page-class-selected="page-link active btn-primary" class="btn-group">
</div>