@model CarListViewModel

@foreach (var car in Model.Cars)
{
    <div>
        <h3>@car.Name</h3>
        @car.Description
        <h4>@car.Price.ToString("c")</h4>
    </div>
}

<div page-model="@Model.Paging" page-action="List"></div>